// Define variables for your color scheme

// For example:
$blue: #3D405B;
$light: #F4F1DE;
$orange: #E07A5F;
$orange-light: #EFBBAD;
$green: #81B29A;
$green-light: #BED7CB;
$dark: #313249; //background etc
$light-gray: #F4F4F4;


$square-light: #64667c;
$square-lighter: #838596;
