// Import page-specific CSS files here.
@import "home";

.index-title-page{
  text-align: center;
}

.separation-of-the-carousel-cards{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  width: 100%;

}
.separation-of-the-carousel-cards h1{
  padding: 10px 50px;
  border-bottom: 2px solid white;
  font-size: 25px;
}
