<div class="banner" style="background-image: url(/assets/home-page-banner01.jpeg);">
  <div class="container">
    <h1>It's GameTime baby!</strong>!</h1>
    <p>Find and rent a game, bitches..</p>
    <div class="button-game-home-page"><%= link_to 'Games', games_path %></div>
  </div>
</div>
