<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/assets/home-page-banner01.jpg); ">
  <div class="container-banner">
    <h1>It's GameTime baby!</strong>!</h1>
    <p>Find and rent a game to play at home with your friends</p>
    <%= button_to "Let's play", games_path, method: :get %>
    <%= button_to "edit", edit_user_registration_path, method: :get %>
  </div>
</div>

<div class="about-section-parent p-4">
  <h2>How it Works</h2>
  <div class="about-section-child">
    <div class="home-card">
      <i class="fas fa-search home-icon"></i>
      <p>Find board games in your area</p>
    </div>
    <div class="home-card">
      <i class="fas fa-handshake home-icon"></i>
      <p>Connect with their owner</p>
    </div>
    <div class="home-card">
      <i class="fas fa-dice home-icon"></i>
      <p>Play with your friends at home</p>
    </div>
  </div>
</div>
