.banner {
  height: 80vh;
  border-radius: 0 0 20px 20px;
  padding: 150px 0;

  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// button banner
.button-game-home-page{
  width: 100px;
  padding: 5px 20px;
  border: 1px solid transparent;
  background: $orange;
  border-radius:15px;
  margin: 0 20px;

  color: $light;
  transition: var(--transition-time);
}
.button-game-home-page:hover{
  border: 1px solid $orange;
  background: transparent;
  border-radius:15px;
  margin: 0 20px;
}
.button-game-home-page a:hover{
  text-decoration: none;
  color: $orange;
}
