.banner {
  height: 90vh;
  border-radius: 0 0 20px 20px;
  padding: 150px 0;

  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 10%;
}
.container-banner input{ ////// ------------------------------------------ button on home page banner
  padding: 10px 30px;
  border-radius: 30px;
  background-color: $orange;
  border: 2px solid $light;
  color: $light;
  transition: var(--transition-time);
}
.container-banner input:hover{
  background: transparent;
  border: 2px solid $orange;
  color: $orange;
}
// button banner
.button-game-home-page{
  text-align: center;
  width: 160px;
  padding: 10px 30px;
  border: 1px solid transparent;
  background: $orange;
  border-radius:15px;
  margin-top: 20px;

  transition: var(--transition-time);
}

.button-game-home-page a{
  color: $light;
  transition: var(--transition-time);
}
.button-game-home-page:hover{
  background: $green;
}
.button-game-home-page a:hover{
  text-decoration: none;
}
