.index-games-show{
  width: 100%;
  padding: 50px 0;
}

.parent-div-category-game-show{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 50px;
  justify-content: space-evenly;

  border-radius: 20px;
}
.parent-div-category-game-show a:hover{
  text-decoration: none;
}
.div-category-game-show{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 300px;
  height: 200px;
  padding: 5px 20px;

  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  transition: var(--transition-time);
}
.div-category-game-show:hover{
  transform: scale(1.1);
}

.content-of-the-div-category-game-show p{
  color: $light;
  font-family: monospace;
  font-size: 10px;
}
.content-of-the-div-category-game-show h1{
  color: $light;
  font-family: monospace;
  font-size: 20px;
}
