
// index category page
// body of the page
.body-main-index-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  margin-bottom: 200px;
}

// top games title
.top-games-title{
  padding: 0 30px;
  margin-bottom: 25px;
  color: $light;
}

// div of the top values
.top-games-index-page{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 45VH;
  width: 100%;
}

// feature banner game top page value
.banner-top-feature-game-index{
  height: 100%;
  width: 68%;
  overflow: hidden;
  border-radius: 20px;
  transition: var(--transition-time);
}
.banner-top-feature-game-index:hover{ //// ------------------------------ transition when hover for th ebanner
  transform: scale(1.02);
}
.banner-top-feature-game-index a:hover{
  text-decoration: none;
}
.banner-top-feature-game-index img{
  width: 100%;
}
.bg-img-banner {
  background-image: asset-url('image-random-boardGame.jpg');
  background-size: cover;
}
// ---------------------------------------------content feature banner top
.banner-feature-content-game-index{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  height: 100%;  ///----------------- properties of the baner
  width: 100%;
}
.banner-feature-content-game-index h1{
  margin: 0;
  // font-weight: 600;
}
.banner-feature-content-game-index-bg{
  width: 100%;
  padding-top: 10px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: $light;
}
//------------------------------------------- feature side games top page values
.side-game-feature-game-index{
  height: 100%;
  width: 25%;

  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
}
.side-game-feature-game-index a:hover{
  text-decoration: none;
}

///--------------------------------------container image for image side
.parent-content-of-the-div-game-index{ ////--------------------------------------- properties of the sides cards of the banner
  width: 100%;
  height: 100%;
  border-radius: 20px;

  overflow: hidden;
  transition: var(--transition-time);
}
.parent-content-of-the-div-game-index p {
  color: $light;
}
.parent-content-of-the-div-game-index img {
  width: 100%;
}
.parent-content-of-the-div-game-index:hover{  //// ------------------------------ transition when hover
  transform: scale(1.05);
}

// inside div content displayer values
.content-of-the-div-game-index{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  height: 100%;
  width: 100%;

  font-size:20px;
  font-weight: 600;
}

.child-content-of-the-div-game-index{ //// ------------------------------------ this is the bottom title side card values
  position: absolute;
  color: $light;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  padding: 3px 0;
}

// category bottom part
.category-main-div-game-index{
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  grid-row-gap: 100px;
  grid-template-columns: auto auto auto auto;
  margin-top: 75px;
}

// this is the design of the card for the neumorphism
.parent-category-layout-design-category-game-index{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: linear-gradient(225deg, #34364e, #2c2d42); ///----------------------- those are the values for the neumorphism
  box-shadow:-2px 2px 5px rgba(224, 122, 95, 0.3),
          2px -2px 5px rgba(239, 187, 173, 0.3);

  width: 250px;
  height: 320px;
  border-radius: 20px;
  transition: var(--transition-time);
  overflow: hidden;
}
.parent-category-layout-design-category-game-index p{
  border: 2px solid $orange;
  padding: 2px 20px;
  border-radius: 20px;
  color: $orange;
  font-size: 18px;
  text-align: center;
  transition: var(--transition-time);
}
.parent-category-layout-design-category-game-index:hover{//// ------------------------------animation time baby
  animation-duration: 1s;
  animation-name: dropDivAnim;
}
.category-layout-design-category-game-index{
  height: 250px;
  width: 92%;
  border-radius: 20px 20px 10px 10px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.category-layout-design-category-game-index img{
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-bottom: 20px;
}

@keyframes dropDivAnim { //// -----------------------------those are the category animation
  0% {
    box-shadow:-2px 2px 10px $orange,
            2px -2px 10px $orange-light;
    background: linear-gradient(225deg, #34364e, #2c2d42);
  }
  50% {
    box-shadow: 2px -2px 10px $orange-light,
                -2px 2px 10px $orange;
    background: linear-gradient(225deg, #2c2d42, #34364e);
  }
  100% {
    box-shadow:-2px 2px 10px $orange,
          2px -2px 10px $orange-light;
    background: linear-gradient(225deg, #34364e, #2c2d42);
  }
}

.category-layout-design-category-game-index p:hover{
  background-color: $orange;
  color: $light;
}
.category-main-div-game-index a{
  text-decoration: none;
}


.child-category-layout-design-category-game-index{
  position: absolute;
  bottom: -5px;
  left: 30%;
}

//cards category for HOME PAGE
.div-category-home-page {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  height: 350px;
  width: 100%;
}
.boxing-div-category-home-page{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 80%;
}
.content-div-category-home-page{
  width: 250px;
  height: 300px;
  border-radius: 20px;

  overflow: hidden;
}
.content-div-category-home-page img{
  width: 100%;
}


h1{
    font-weight: 600;
}
