// DO NOT TOUCH THIS CSS ITS FOR THE INDEX PAGE AND NOT THE HOME PAGE
// normal "carousel card "
.card-category {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;
  width: 250px;

  background-size: cover;
  background-position: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// carousel test
.carousel-item{
  padding: 2%;
  margin-left: 2%;
}

// sizing the images
.carousel-category{
  width: 250px;
  height: 300px;
  border-radius: 20px;

  overflow: hidden;
}
.carousel-category img{
  width: 100%;
}

.controls-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
}
