<div class="index-games-show">
  <div class="parent-div-category-game-show">
    <% @games.each do |game| %>
      <%= link_to game_path(game) do %>
        <div class="div-category-game-show">
          <div class="content-of-the-div-category-game-show">
              <h1><%= truncate(game.title, length: 30) %></h1>
              <p><%= truncate(game.description, length: 100) %></p>
          </div>
        </div>
      <% end %>
    <% end  %>
  </div>
</div>
